@media (max-width: 500px){
  .header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(75, 142, 175, 0.8),rgba(0, 0, 0, 0.699)), url('../Assets/xyj3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header p {
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    color: white;
  }
}

@media (min-width: 501px){
  .header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(75, 142, 175, 0.8),rgba(0, 0, 0, 0.699)), url('../Assets/xyj.JPEG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .header p {
    font-family: 'Special Elite', cursive;
    font-size: 50px;
    color: white;
  }
}

