.projects {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: linear-gradient(rgba(253, 253, 253, 0),rgba(255, 255, 255, 0)), url('../Assets/project.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.projects p {
  font-size: medium;
}

.projects h1 {
  font-family: "Comic Sans MS", sans-serif;
  color: rgb(132, 195, 219);
  background-color: rgba(30, 32, 34, 0.5);
  padding: 15px;
}